
body {
    background-color: beige;
    color: white;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

#audio-pls-wrapper {
    position: absolute;
    width: 100%;
    z-index: 300;
    background-color: #3338;
    top: 0;
    bottom: 0;
}

#turn-on-audio-pls {
    position: relative;
    width: 6em;
    padding: 20px;
    font-size: 30px;
    background-color: #FFABE5;
    margin: auto;
    top: 50px;
}

#turn-on-audio-pls > button {
    margin-top: 10px;
}

#turn-on-audio-pls > button:active{
    background-color: lightgrey;
}

.modal-wrapper {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 1100;
    background-color: #3338;
    top: 0;
    bottom: 0;
}

.modal-inside {
    z-index: inherit;
    background-color: #FFABE5;
    margin: 3em;
    padding: 3em;
    max-height: 70%;
    overflow-y: scroll;
}
.modal-exit {
    position: sticky;
    float: right;
    vertical-align: center;
}
#how-to-vid {
    width: 300px;
}

.part-explain {
    margin: 10px;
}

#canvas-wrapper{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: grey;
    z-index: -10;
}

#game-elements {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.game-object {
    position: absolute;
    z-index: 10;
    min-width: 10px;
    min-height: 10px;
}
.game-object:hover {
    background-color: #FFC293;
    cursor: grab;
}

.game-object.active {
    background-color: red !important;
    z-index: 200;
    cursor: grabbing;
}


.paddle {
    background-color: #89DEFF; 
}

#example-paddle {
    position: relative;
    right: 2px;
    transform: rotate(-30deg);
    width: 40px;
    height: 15px;

    background-color: #89DEFF;
    border-radius: 5px;
    border: 3px solid white;
}

.circle-emitter {
    border-radius: 50%;
    background-color: #FFABE5;
}

.little-circle {
    position: relative;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 20px;
    border-radius: 50%;
    background-color: white;
}

#example-circle-emitter {
    position: relative;
    width: 40px;
    height: 40px;
    transform: rotate(60deg);
    border-radius: 50%;
    background-color: #FFABE5;
    border: 3px solid white;
    left: -3px;
    top: 1px;
}
#example-little-circle {
    position: relative;
    width: 10px;
    height: 10px;
    top: 5px;
    left: 11px;
    border-radius: 50%;
    background-color: white;
}

.square-emitter {
    background-color: #C3E89B;
}

#example-square-emitter {
    position: relative;
    transform: rotate(-20deg);
    border-radius: 5px;
    background-color: #C3E89B;
    left: 4px;
    width: 28px;
    height: 28px;
    border: 3px solid white;
}

#example-little-square {
    position: relative;
    background-color: white;
    width: 8px;
    height: 8px;
    left: 15px;
    top: 5px;
}

.little-square {
    position: relative;
    width: 15px;
    height: 15px;
    top: 10px;
    left: 10px;
    background-color: white;
}


.button-shelf {
    pointer-events: none;
}
#left-buttons {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

button {
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    pointer-events: all;
}
button < * {
    pointer-events: none;
}

button:focus {outline:0;}

#left-buttons button {

    z-index: 200;
    display: block;
    margin-top: 2em;
    margin-left: 2em;
    background-color: blue;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 10px solid transparent;
}

#left-buttons button:hover {
    border: 10px solid white;
    cursor: grab;
}

#left-buttons button:active {
    cursor: grabbing;
}

#right-buttons-inner {
    float: right;
}

#right-buttons button {
    position: relative;
    z-index: 200;
    display: block;
    margin-top: 2em;
    margin-right: 2em;
    background-color: blue;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 10px solid transparent;
}

#right-buttons button:hover {
    cursor: pointer;
    border: 10px solid white;
}

#gear {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */

    position: relative;
    right: 1px;
    top: 1px;
    color: white;
    fill: white;
    width: 45px;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(104%) contrast(104%);
    transition: all 0.8s ease-in-out 0s;
    cursor: pointer;
    pointer-events: none;
}

#options-button:hover #gear {
    transform: rotate(180deg);
    transition: all 0.8s ease-in-out 0s;
}

#options-help {
    color: white;
    font-family: 'Varela Round', sans-serif;
    margin: 22px 22px 0px 0px !important;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#options-help-inner {
    font-size: 50px;
    overflow: hidden;
    transition: all 0.8s ease-in-out 0s;
}

#options-help:hover #options-help-inner {
    transform: rotate(180deg);
    transition: all 0.8s ease-in-out 0s;
}

#slider-table td {
    border-collapse: collapse;
    border-right: 2px solid white;
    border-left: 2px solid white;
    padding: 10px;
}

svg, path {
    z-index: 0;
    pointer-events: none;
}
/* tempo controls */
input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
#tempo-label {
    position: relative;
    left: 30px;
    top: 5px;
}

#tempo-selector-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
}
#tempo-selector-wrapper * {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

#tempo-controls {
    z-index: 200;
    position: absolute;
    bottom: 50px;
    left: 30px;
    width: auto;
    padding: 2px;
    white-space: nowrap;
    background-color: #FFABE5;
    border-radius: 5px;
}
#tempo-ul {
    padding: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-top: 0px;
}

#tempo-down {
    display: inline-block;
}
#tempo-input-li {
    display: inline-block;
}
#tempo-up {
    display: inline-block;
}

#tempo-input {
    position: relative;
    height: 25px;
    width: 50px;
    display: inline-block;
    bottom: 5px;
}

.arrow {
    position: relative;
    top: 10px;
    pointer-events: hover;
    z-index: 200;
}


.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  border-right: 20px solid  blue; 
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid blue;
}

.arrow-left:active {
    border-right-color: red;
}

.arrow-right:active {
    border-left-color: red;
}
